{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}
    <h1>Käyttäjän {{user_logged_in.nimi}} Muistilistat</h1>
  {% endif %}

  <p>
    <a href="{{base_path}}/muistilista/uusi" class="btn btn-success">Lisää uusi muistilista</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Luotu</th>
        <th>Tärkeys</th>
        <th>Status</th>
        <th>Viimeinen voimassaolopäivä</th>
        <th>Kuvaus</th>
	<th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan muistilistat tähän -->
      {% for muistilista in muistilistat %}
        <tr>
          <td><a href="{{base_path}}/muistilista/{{muistilista.id}}">{{muistilista.nimi}}</td>
          <td>{{muistilista.luotu}}</td>
          <td>{{muistilista.tarkeys}}</td>
          <td>
		{% if muistilista.status %}
		<label class="label label-success">Suoritettu
		{% else %}
		<label class="label label-danger">Kesken
		{% endif %}
	  	</td>
          <td>{{muistilista.voimassaolopaiva}}</td>
          <td>{{muistilista.kuvaus}}</td>
          <th><a class="btn btn-default btn-sm" href="{{base_path}}/muistilista/{{muistilista.id}}/muokkaa">Muokkaa</a></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
