{% extends "base.html" %}
{% block content %}
{% import "muistilista/macros/forms.html" as forms %}

  <div class="alert alert-success">
    {{message}}
  </div>

  <h1>{{muistilista.nimi}}</h1>
  
  <!-- Tiedot tulee listana tähän -->

<li><strong>Luomispäivä:</strong> {{muistilista.luomispaiva}}</li>
    <li><strong>Tärkeys:</strong> {{muistilista.tarkeys}}</li>
    <li><strong>Status:</strong> 
      {% if muistilista.suoritettu %}
      <label class="label label-success">suoritettu</label>
    {% else %}
      <label class="label label-danger">kesken</label>
    {% endif %}
<!--    <label class="label label-danger">{{muistilista.status}}</label></li> -->
    <li><strong>Viimeinen voimassaolopäivä:</strong> {{muistilista.voimassaolopaiva}}</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    {{muistilista.kuvaus}}
  </p>
  
<!-- Painikkeet tähän -->
  <p>
    
     <a href="{{base_path}}/muistilista/{{muistilista.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
<!--    <a href="{{base_path}}/muistilista/mlista_edit.html" class="btn btn-default">Muokkaa</a>  -->
  </p>
  
  <p>{{forms.destroy_button("#{base_path}/muistilista/#{muistilista.id}/destroy")}}</p>

{% endblock %}

