{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}
  <h1>Käyttäjän {{user_logged_in.ktunnus}} Yleismuistilista</h1>
{% endif %}

  <p>
    <a href="{{base_path}}/muistilista/askare/uusi" class="btn btn-success">Lisää askare</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Lisäyspäivä</th>       
        <th>Tärkeysaste</th>
        <th>Status</th>
        <th>Suoritettava viimeistään</th>
        <th>Kuvaus</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan askareet tähän -->
      {% for askare in askareet %}
      <tr>
        <td><a href="{{base_path}}/muistilista/askare/{{askare.id}}">{{askare.nimi}}</a></td>
        <td>{{askare.lisayspaiva}}</td>
        <td>{{askare.tarkeys}}</td>
        <td>
        {% if askare.status %}
		<label class="label label-success">Suoritettu
		{% else %}
		<label class="label label-danger">Kesken
		{% endif %}
		</td>
<!--        <td><label class="label label-danger">{{askare.status}}</label></td> -->
        <td>{{askare.voimassaolopaiva}}</td>
        <td>{{askare.kuvaus}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/muistilista/askare/{{askare.id}}/muokkaa">Muokkaa</a></th>
      </tr>
       {% endfor %}
      
    </tbody>
  </table>
{% endblock %}
