{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjän Mikis muistilistat</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää uusi muistilista</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Luotu</th>
        <th>Tärkeys</th>
        <th>Status</th>
        <th>Viimeinen voimassaolopäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan muistilistat tähän -->
      <tr>
        <td><a href="#">Yleismuistilista</a></td>
        <td>11.11.2011</td>
        <td>4</td>
        <td><label class="label label-danger">Kesken</label></td>
        <td></td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
      <tr>
        <td><a href="#">Mökille mukaan</a></td>
        <td>4.4.2016</td>
        <td>5</td>
        <td><label class="label label-danger">Kesken</label></td>
        <td>8.4.2016</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
